@import "tailwindcss";
@plugin "daisyui";

.bg-hero{
    background-color: RGB( 85, 27, 169);

}
.bg-button{
    background-color: RGB (66, 180, 238);

}
.card-color{
    background-color: RGB (99, 38, 187);
}

.pay-card-color{
    background: rgba(255, 255, 255, 1);
}